.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;

}
.logo
{
    width: 100px;
}
.nav-items>ul
{
    display: flex;
}
.nav-items>ul>li
{
    list-style: none;
    margin: 0 15px;
}
.res-logo
{
    width: 90%;
    height: 150px;
    padding-left: 10px;
    padding-top: 5px;
    object-fit: cover;
}
.res-card
{
    width: 200px;
    height: 300px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f8f9fa;
    margin: 10px;

}
.res-card h2{
    margin: 10px;
}
.res-card p {
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 1.2;
    margin-left: 10px;
}

.res-card:hover
{
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.res-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.filter-btn
{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.filter-btn:hover
{
    background-color: #0056b3;
    cursor: pointer;
}   

.top-restaurants
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}